/* rule code */
:root
{
            --blue-color: #0075ff;
            --blue-alt-color: #0d69d5;
            --blue-alt-color: #0d69d5;
            --orange-color:#f59e0b;
            --green-color:#22c55e;
            --red-color:#f44336;
            --gray-color:#888;

}
/* End rule code */
/* Frame Work */

/* End Frame Work */
*
{
      box-sizing: border-box;
      --webkit--box-sizing: border-box;
      --moz--box-sizing: border-box;
}
::-webkit-scrollbar-thumb {
      background-color: var(--blue-color);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
      background-color: var(--blue-alt-color);
}

::-webkit-scrollbar {
      width: 10px;
      background-color: #eeeeee;
}
html
{
      scroll-behavior: smooth;
}
body
{
      margin: 0;
      padding: 0;
      font-family: 'Comfortaa', 'cursive';
            font-family: 'Open Sans', sans-serif;
}
.container{

      /* width: 600px; */
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
}
/* Start Media */
@media (min-width:768) {
      .container {
            width: 750x;
      }
}

@media (min-width:992) {
      .container {
            width: 970px;
      }

}

@media (min-width:1200) {

      .container {
            width: 1170px;
      }
}
/* End Media */
/* rule code */
/* Start New */
      .page{
            min-height: 100vh;
            /* background-color: #f1f5f9; */
      }
/* End New */
/* Start Header */
.page .header{
      width: 100%;
      /* margin-left: 100px;
      margin-right: 100px; */
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}
.page .header > div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
}
ul{
      display: flex;
}
.page .header ul a:not(:first-of-type){
      /* padding-left: 15px; */
}
.page .header ul a.active{

      margin-right: 10px;
}
.page .header ul a.tow{
      margin-right: 5px;
}
.page .header ul a{
      padding: 10px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
}
.page .header ul a.active{
      background-color: var(--blue-color);
      color: #fff;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
}
.page .header ul a:hover{
      /*padding: 15px;
      */transition: .4s;
      background-color: var(--blue-color);
      color: #fff;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
}
.page .header ul a{
      padding: 5px;
}
/* End Header */
/* Start My Info */
.page .for-me{
display: flex;
/* flex-direction: column; */
      background-image: url(../imgs/img-1.webp);
      /* background-color: #000; */
      justify-content: center;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 100vh;
      /* margin-top: -20px; */
}
/* .page .for-me .info .icon i { */
.page .for-me .info h2,
.page .for-me .info .pp{
      color: #000;
}
.page .for-me .info .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -15px;
}
.page .for-me .info .icon .color-i{
      padding-left: 10px;
}
.page .for-me .info .icon .color-i{
      /* color: #fff; */
}
.page .for-me .info .icon a{
      font-size: 30px;
      transition: .4s;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
}
.page .for-me .info .icon .a-face:hover{
      color: var(--blue-color);
      
}
.page .for-me .info .icon .a-ins:hover{
      color: var(--red-color);
}
.page .for-me .info .icon .a-git:hover{
      color: var(--orange-color);
}
.page .for-me .info p,
      .page .for-me h2{
            color: #fff;
      }
                        .page .for-me h2 {
                              font-weight: 900;
                        }
.page .for-me .info p{
      width: 310px;
      font-weight: 600;
      text-align: center;
      line-height: 1.8;
      /* display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; */
}
.page .for-me .info p span{
      color: var(--green-color);
}
.page .for-me h2{
      position: relative;
      text-align: center;
      margin-left: 15px;
      /* left: 35%; */
}
/* End My Info */
/* Start Content */
.page .content{
      text-align: center;
      margin-top: 200px;
}
.page .content > h2::before{
content: '';
      position: absolute;
      background: #000;
      width: 80px;
      height: 2px;
      top: 140%;
      transform: translateX(10%);
}
.page .content > h2::after{
      outline: 1px solid #000;
      content: '';
      position: absolute;
      background: red;
      background: #fff;
      width: 10px;
      height: 10px;
      top: 35px;
      border-radius: 50%;
      transform: translateX(-54px);
      -webkit-transform: translateX(-54px);
      -moz-transform: translateX(-54px);
      -ms-transform: translateX(-54px);
      -o-transform: translateX(-54px);
}
.page .content .land{
      /* justify-content: center; */
      /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
      display: flex;
      justify-content: center;
      margin-top: 120px;
}
.page .content .lan{
      margin-top: 30px;
}
.page .content .im{
      margin-left: 20px;
}
/* .page .content .title{
      transition: 0.3s;
      display: none;

      background-color: var(--blue-color);
      width: fit-content;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
} */
.page .content .in{
      display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 70px;
            margin-right: 70px;
            margin-top: -50px;
}
.page .content .img img{
      transition: 0.4s;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
}
.page .content .land .da{
      cursor: not-allowed;
}
.page .content .land .gr,
.page .content .land .cr,
.page .content .land .da{
      transition: .4s;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
}
.page .content .land .gr:hover{
      color: var(--green-color);
}
.page .content .land .cr:hover{
      color:violet;
}
.page .content .land .da:hover{
      color: var(--blue-color);
}
.page .content .land  .imgs{
      position: relative;
}
.page .content .land  .imgs::after{
/* content: '';
      position: absolute;
      background-color: rgb(0 0 0 / 88%);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 10px; */
}
.page .content .img img{
      border-bottom: 30px solid #eee;
      width: 250px;
      min-height: 100%;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}
.page .content .img img:hover{
      /* transform:  rotateY(50deg);
      -webkit-transform:  rotateY(50deg);
      -moz-transform:  rotateY(50deg);
      -ms-transform:  rotateY(50deg);
      -o-transform:  rotateY(50deg); */
}
.page .content .img img:hover + .in{
}
.page .content .in-progress .wait i{
      animation-name: rotate;
      animation-timing-function: linear;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      /* animation-direction: alternate; */
}
@keyframes rotate{
      to{
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
}
}
/* End Content */
/* Media */
@media (max-width:320px){
      .page .header > div{
            padding-left: 0;
            padding-right: 0;
      }
      .page .header .side{
            margin-left: -20px;
      }
      .page .content .land{
            /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
      }
                        .page .content .in {
                              margin-left: 40px;
                              margin-right: 40px;
                        }
}
@media (min-width:321px) and (max-width: 375px){
      /* .page .content .in {
                  margin-left: 45px;
                  margin-right: 45px;
            } */
                                    .page .content .land .in {
                                          margin-left: 70px;
                                          margin-right: 70px;
                                    } 
}
@media (max-width:375px){

}
@media (min-width: 376px) and (max-width: 425px){
      .page .content .land .in {
                  margin-left: 95px;
                  margin-right: 95px;
            }
}
@media (max-width:425px){
      .page .header{
            width: 100%;
            margin-left: 0;
            margin-right: 0;
      }
      .page .header .info{
            padding-left: 5px;
      }
                        .page .for-me .info {
                              transform: translateY(25%);
                              -webkit-transform: translateY(25%);
                              -moz-transform: translateY(25%);
                              -ms-transform: translateY(25%);
                              -o-transform: translateY(25%);
}
.page .content .land{
      flex-direction: column;
}
.page .content .land .im{
      margin-left: 0;
}

}
@media (min-width: 767px){
      .page .for-me .info{
            transform: translateY(25%);
            -webkit-transform: translateY(25%);
            -moz-transform: translateY(25%);
            -ms-transform: translateY(25%);
            -o-transform: translateY(25%);
}
            .page .content .in {
                  margin-left: 0;
                  margin-right: 0;
            }
}
/* @media (max-width: 768px){
      .page .for-me .info h2{
            left: 0;
      }
}
@media (min-width: 769px) and (max-width: 1024px){
      .page .for-me .info h2{
            left: 0;
      }
      
}
@media (min-width: 1025px){
      .page .for-me .info h2{
            left: 0;
      }
} */